#root {
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.54845428466797px);
  color: rgba(255, 255, 255, 1);
}

.card .header {
  padding: 1rem 4rem 0rem 4rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
